/* Listenin kendisi (ul) */
.galleryul {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

/* Her bir liste elemanı (li) */
.galleryli {
  /* Kartın hizalanması için gerekirse buraya ekleme yapılabilir */
  /* Şu an grid yapısı child elementleri (li) otomatik hizalar */
}
