/* App.module.css - TÜMÜNÜ BUNUNLA DEĞİŞTİR */

.container {
  min-height: 100vh;
  width: 100%; /* Ekranı tam kapla */

  /* SearchBar fixed (sabit) olacağı için üstten boşluk bırakıyoruz */
  padding-top: 100px;
  padding-bottom: 40px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* Bulunamadı Uyarısı */
.bulunamadi {
  text-align: center;
  color: rgb(187, 78, 78);
  margin-top: 20px;
  font-size: 22px;
}
